<div id="comments">
  
</div>
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  const gitment = new Gitment({
    id: '<%=title%>', // optional
    owner: 'x-cold',
    repo: 'blog',
    oauth: {
      client_id: '688eb865d77ca0a8a0ff',
      client_secret: '605bbb7d37362896c098f9889564f8f0be88b6d6',
    },
  });
  gitment.render('comments')
</script>
